.portfolio__wrapper {
    background: url(../img/portfolio/background_portfolio.png) no-repeat;
    background-position: center;
    width: 100%;
}

.portfolio__background {
    background: rgba(0, 0, 0, 0.3);
}

.portfolio__flex__container__wrapper {
    padding: 0px 60px;
}

.portfolio__content__wrapper {
    padding: 200px 0px 0px 240px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.portfolio__content__text {
    display: flex;
    flex-direction: column;
}

.portfolio__content__text_h1 {
    margin: 0;

    text-shadow: 0px 0px 36px 0px rgba(165, 252, 235, 0.20);
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: 61px;

    background: linear-gradient(149deg, #B5FEEF 0%, #2EECC5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.portfolio__content__text_p {
    margin: 0;

    padding: 18px 0px 40px;

    width: 70%;

    color: rgba(255, 255, 255, 0.65);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

/* tarifs */

.portfolio__tarif__wrapper {
    width: 1080px;
    overflow: hidden;

    margin-left: auto;
    margin-right: auto;

    padding-top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.portfolio__tarif__silder {
    width: 99999px;

    margin: 0;
    padding: 80px 0px;

    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    margin-top: -50px;
}

.portfolio__tarif__silder__wrapper {
}

.portfolio__tarif__silder__lenta {
    display: flex;
    flex-direction: row;

    min-height: 600px;

    transition: margin-left 0.4s;
}

.portfolio__tarif__silder_title {
    padding-bottom: 40px;

    text-align: center;
    text-shadow: 0px 0px 36px 0px rgba(165, 252, 235, 0.20);
    font-size: 55px;
    font-style: normal;
    font-weight: 550;
    line-height: 61px;

    background: linear-gradient(126deg, #B5FEEF 0%, #2EECC5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.portfolio__tarif__single {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 44px 30px 25px;
    margin: 60px 16px 0px;

    max-width: 295px;
    max-height: 420px;

    border-radius: 36px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: linear-gradient(155deg, #313134 0%, #292929 51%, #282828 100%);

    color: #FFF;
    font-style: normal;
    font-weight: 400;

    /* transition-duration: 1s; */
    filter: brightness(60%);
}

.portfolio__tarif__single__active {
    margin-top: 0px;
    max-width: 370px;
    max-height: 570px;
    filter: brightness(100%)
}

.tarif__h1 {
    text-align: center;
    font-size: 26px;
    line-height: normal;
}

.tarif__p {
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    font-size: 12px;
    line-height: 18px;
}

.tarif__bottom__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tarif__bottom__text {
    display: flex;
    flex-direction: column;
}

.tarif__bottom__price {
    font-size: 17px;
    line-height: 26px;
}

.tarif__bottom__time {
    color: rgba(255, 255, 255, 0.40);
    font-size: 13px;
    line-height: 20px;
}


.portfolio__tarif__single__active>.tarif__h1 {
    font-size: 32px;
}

.portfolio__tarif__single__active>.tarif__p {
    font-size: 17px;
    line-height: 26px;
}
.portfolio__tarif__single__active>.tarif__bottom__wrapper {
    padding-top: 30px;
}

.portfolio__tarif__single__active>.tarif__bottom__price {
    font-size: 22px;
    line-height: 34px;
}

.portfolio__tarif__single__active>.tarif__bottom__time {
    font-size: 17px;
    line-height: 26px;
}


/* buttons */
.prev__tarif__button,
.next__tarif__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(0deg, rgba(50, 57, 57, 1) 0%, rgba(25, 32, 31, 1) 100%);

    border: 2px solid #153630;
    border-radius: 100px;

    outline: 1px solid #153630;
    outline-offset: 4px;

    padding: 8px 6px;
    cursor: pointer;
    z-index: 1;

    transition-duration: 0.3s;
}

.prev__tarif__button {
    left: 10px;
}
/* здесь и выше подбирал значения, не знаю как можно по другому сделать */
.next__tarif__button {
    left: 1020px;
}

.tarif__button {
    fill: #2e8f7c;
}

.tarif__button__prev {
    padding-left: 2px;
    margin-left: 5px;
}

.tarif__button__next {
    padding-right: 2px;
    margin-left: 5px;
}

.prev__tarif__button:hover,
.next__tarif__button:hover {
    border-color: #1f5047;
    outline-color: #1f5047;
    box-shadow: 0px 0px 37px 0px rgba(21, 54, 48, 0.5);
}